
.bpadding0 { padding-bottom: 0; }
.tpadding0 { padding-top: 0; }
.tmargin0 { margin-top: 0; }
.bmargin0 { margin-bottom: 0; }
.bmargin2 { margin-bottom: 20px; }
.bmargin3 { margin-bottom: 30px; }
.bmargin4 { margin-bottom: 40px; }


.pleft-0 { padding-left: 0px; }
.pleft-1 { padding-left: 10px; }
.pleft-2 { padding-left: 20px; }
.pleft-3 { padding-left: 30px; }
.pleft-4 { padding-left: 40px; }
.pleft-5 { padding-left: 50px; }

.pright-0 { padding-right: 0px; }
.pright-1 { padding-right: 10px; }
.pright-2 { padding-right: 20px; }
.pright-3 { padding-right: 30px; }
.pright-4 { padding-right: 40px; }
.pright-5 { padding-right: 50px; }

.bpadding-1 { padding-bottom: 15px; }
.bpadding-25 { padding-bottom: 25px; }
.bpadding-50 { padding-bottom: 50px; }
.p-top-1 { padding-top: 10px; }
.p-top-2 { padding-top: 20px; }
.p-top-3 { padding-top: 30px; }
.p-top-4 { padding-top: 40px; }
.p-top-5 { padding-top: 50px; }
.extra-padding { padding: 35px; }
.border-t { border-top: 2px solid #dfdfdf; }

.l-2 { line-height: 25px; }
.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

.normal { font-weight: normal; }
.text-center{ text-align: center; }
.section-gray { background-color: #e3e3e3; }
.section-lgray { background-color: #ececec; }
.section-c3 { background-color: #c3c3c3; }
.section-dk { background-color: #3a3a3a; }
.section-white { background-color: #fff; }
.text-white { color: #fff; }
.nobg { background-color: transparent;}
.text-black { color: #000; }
.seprator-border {
  border-bottom: 1px solid #f2f2f2;
}


.tp-caption .tp-big-heading {
	text-decoration: none;
}


h2.slide-head {
	color: #fff;
	font-weight: normal;
	font-size: 45px;
	line-height: 50px;
	text-decoration: none;
	background: rgba( 0, 0, 0, 0.6);
	padding: 20px;
}
h2.slide-head span {
	font-weight: bold;
}



@media (max-width: 768px) {

	h4.slide-head {
		color: #fff;
		font-weight: normal;
		font-size: 15px;
		padding: 5px;
		text-decoration: none;
		background-color: #000;
	}

}

.pt-bkg-image-v {
    background-image: url('../img/easter-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-bkg-image-truck {
    background-image: url('../img/foodtruck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-bkg-image-truck .title {
		background-color: rgba(0, 0, 0, 0.5);
		width: 45%;
		padding: 20px;
	}

@media (max-width: 768px) {
	.pt-bkg-image-truck .title {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		padding: 10px;
	}
	.pt-bkg-image-truck {
	    background-image: url('../img/foodtruck-sm.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	}
}





.pt-bkg-cater {
    background-image: url('../img/starfish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container a.tel {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-size: 35px;
}



.wpcf7 .wpcf7-textarea {
    width: 90%;
    height: 100px;
}
.wpcf7 .wpcf7-form-control-wrap.your-message::before {
    content: "\f003";
    height: 98px;
    top: 1px;
    z-index: 1;
}
.wpcf7 .wpcf7-submit {
    float: none;
}

.cater-menus {
	margin-bottom: 40px;
}
.cater-menus p {
	color: #000;
	text-transform: none;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.cater-menus .menu-info{
	/*text-align: center;*/
	margin-left: 20px;
	color: #000;
	font-size: 15px;
	padding-bottom: 20px;
}
.cater-menus .menu-info span {
	font-weight: bold;
	color: #f1ba11;
}

.cater-menus .menu-items {
	font-weight: normal;
	font-size: 15px;
	color: #f1ba11;
	text-transform: uppercase;
	padding-left: 20px;
}
.cater-menus .menu-items span { 
	color: #000; 
	font-weight: normal;
	text-transform: none;
}
ul.items {
	list-style-type: none;
}
ul.items li {
	padding-bottom: 10px;
}

.cater-menus .hdv-items {
	font-weight: normal;
	font-size: 14px;
	color: #f1ba11;
	text-transform: uppercase;
}
.cater-menus .hdv-items span { 
	color: #000; 
	font-weight: normal;
	text-transform: none;
}
.cater-menus .hdv-items .fancy-heading {
	margin-top: 10px;
	margin-bottom: 0;
}
.cater-menus .hdv-items .fancy-heading h4{
	font-size: 18px;
}





/**********************************************************/
/************************Happy Hour*************************/
/**********************************************************/

#happyhour-page.page-content {
	padding-left: 15px;
	padding-top:20px;
}

#happyhour-page.page-content h3 { font-weight: bold; color: #fcc820; font-size: 20px; }
#happyhour-page.page-content h2 {  color: #622622; }
#happyhour-page.page-content p { font-size: 16px; color: #31393f; }
#happyhour-page.page-content .special { width: 100%; float: left; margin-bottom:10px; }
#happyhour-page.page-content h4 { font-size: 20px; text-align: center; }
#happyhour-page.page-content h4 span { font-size: 16px; color: #fcc820; }










